<p-toast position="top-right" class="toast-info"></p-toast>
<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white border-radis-top-bottom-left">
            <h1 class="title has-text-primary">Lists</h1>
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
                    <p>{{ list.listName }}</p>
                </a>
            </div>

            <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>
        </div>

        <div class="task-list-container has-background-light">
            <div *ngIf="tasks">
                <div class="top-bar">
                    <h1 class="title has-text-primary">Tasks</h1>
                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                                <span class="icon is-small">
                                    <i class="fas fa-cog" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content">
                                <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item"> Edit </a>
                                <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger"> Delete </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Task Elements -->
                <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ completed: task.isCompleted }">
                    <div class="task-text">
                        <p>{{ task.taskName }}</p>
                    </div>
                    <div class="task-buttons">
                        <button class="button" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
                            <div class="icon">
                                <i class="fas fa-edit"></i>
                            </div>
                        </button>

                        <button class="button is-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 10px">
                            <div class="icon">
                                <i class="fas fa-trash"></i>
                            </div>
                        </button>
                    </div>
                </div>

                <h3 class="empty-state-text" *ngIf="tasks.length === 0">
                    There are no tasks here! Click the add button to create a new task.
                </h3>

                <button routerLink="./new-task" class="circle-add-button button is-primary">
                    <img src="../../../assets/plus-icon.svg" class="has-text-white" />
                </button>
            </div>

            <div *ngIf="!tasks">
                <h3 class="empty-state-text">Please select a list from the sidebar</h3>
            </div>
        </div>

        <!-- Task Options Elements -->

        <div class="sidebar-right border-radis-top-bottom-right background-black" *ngIf="selectedTask">
            <!-- Name of task -->
            <!-- List steps of task -->
            <!-- Button add step-->
            <div class="links">
                <div class="step-text-header">
                    {{ selectedTask.taskName }}
                </div>
                <ul>
                    <li>
                        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                            <div class="step" *ngFor="let step of steps" cdkDrag>
                                <div class="step-text">
                                    <i
                                        [ngClass]="{ completed: step.isCompleted }"
                                        class="pi pi-chevron-circle-down"
                                        (click)="changeStepStatusClick(step._id)"
                                    ></i>
                                    <input type="text" [value]="step.stepName" (input)="step.stepName = $event.target.value" />
                                </div>
                                <div class="step-buttons">
                                    <i class="pi pi-check step-icon" (click)="onUpdateStepClick(step._id)" style="color: #2564cf"></i>
                                    <i class="pi pi-trash step-icon" (click)="onDeleteStepClick(step._id)"></i>
                                </div>
                            </div>
                        </div>

                        <a>
                            <input type="text" placeholder="Add step" [value]="addStep" (input)="addStep = $event.target.value" />
                            <button (click)="onAddstepClick()">Add</button></a
                        >
                    </li>
                    <li>
                        <a> <i class="pi pi-sun"></i> Add to My Day</a>
                    </li>
                    <li>
                        <a> <i class="pi pi-megaphone"></i> Remind me</a>
                    </li>
                    <li>
                        <a> <i class="pi pi-plus-circle"></i> Add Note</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
